<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vfong3.musiccentral"
    android:versionCode="1"
    android:versionName="1.0">

    <permission android:name="com.vfong3.project4.ACCESS_CENTRAL" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        >
        <service
            android:name="com.vfong3.musiccentral.MusicService"
            android:label="MusicCentral"
            android:exported="true"
            android:permission="com.vfong3.project4.ACCESS_CENTRAL">
            <intent-filter>
                <action android:name="com.vfong3.musiccentral.myAidl" />
            </intent-filter>
        </service>
    </application>

</manifest>